
  <div class="container formatted_show">
      <h3 class="text-center"><%= @team.name %> </h3>
    <div class="row">
      <div class="col description_box">
      <text_area>  Team Description: <%= @team.description %></text_area>
      </div>
      <div class="col">
        Members:
        <%= render partial:"/users/user", collection: @team.users %><br>

        <div class="right_bottom_link">
          <%= link_to 'Edit Team', edit_team_path(@team) %><br>
          <%= link_to "Delete", @team, method: :delete, data: {confirm: "Are you sure? This action cannot be undone."} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col tasks_display_box">
        <a href="#" data-id="<%=@team.id%>" class="view_projects">View Projects</a>

        <div class="projects">
          <table class="table table-hover">
          <thead>
            <tr>

              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Deadline</th>
              <th scope="col">Complete</th>
            </tr>
          </thead>
          <tbody>
          

          </tbody>
          </table>


        </div>

        <%#= render partial: "team_projects_index_table", locals: {projects: @team.projects} %>
        <%= link_to 'Create new project', new_team_project_path(@team) %>

      </div>

    </div>


  </div>




  <script id="project-template" type="text/x-handlebars-template">
    <tr>
      <td><a href="/teams/{{team_id}}/projects/{{id}}">{{name}}</a></td>
      <td>{{description}}</td>
      <td>{{due_date}}</td>

      <td><div class="checkbox checkbox-success"><input type="checkbox" id="checkbox1" class="styled"><label></label></div></td>
    </tr>
</script>
