NOT NEEDED: ONLY RENDERING TASK THROUGH AJAX/JSON VIA PROJECT SHOW PAGE

<!-- <div class="container">

  <div class="row">

     <div class="col formatted_show">

       <h3 class="text-center"><%= @task.name %> </h3>
       <div class="row">

         <div class="col-8 col-sm-6 description_box">
           <%= @task.description %>
         </div>

         <div class="col-8 col-sm-6">
            Due: <%= @task.due_date %><br>
            Create a checklist<br>
            Add attachment <br>

            Status: <%= (@task.complete ? 'completed' : 'in progress') %> <br>
            <div class="right_bottom_link">
              <%= link_to("Edit Task", edit_project_task_path(@task.project.id, @task.id)) %><br>
              <%= link_to "Delete Task", project_task_path(@task.project.id, @task.id), method: :delete, data: {confirm: "Are you sure? This action cannot be undone."} %>

            </div>
         </div>
      </div>
    </div>
  </div>
</div> -->
