
<table class="table table-hover">
<thead>
  <tr>
    <% if team_projects?(projects) %>
      <th scope="col"> Group Projects</th>
    <% else %>
      <th scope="col">Individual Projects</th>
    <% end %>
    <% if team_projects?(projects) %>
      <th scope="col"> Team</th>
      <% end %>

    <th scope="col">Deadline</th>
    <th scope="col">Complete</th>
  </tr>
</thead>
<tbody>
  <% projects.each do |project| %>
  <tr id='row-<%=project.id%>'>
    <td><%= link_to project.name, project_path(project)%></td>

    <% if team_projects?(projects) %>
      <td>
        <%= project.team.name  %>
      </td>
    <% end %>

    <td><%=formatted_datetime(project.due_date)%></td>
    <td>
      <%= form_for(project, html: {class: 'complete_project'}) do |f| %>
        <%= f.hidden_field :name, value: project.name %>
        <%= f.hidden_field :description, value: project.description %>
        <%= f.hidden_field :team_id, value: project.team_id %>
        <%= f.hidden_field :user_id, value: project.user_id %>
        <%= f.hidden_field :due_date, value: project.due_date %>
        <%= f.hidden_field :complete, value: true %>
        <%= f.submit 'Complete' %>
        <%end %>

    </td>
  </tr>
  <% end %>

</tbody>
</table>
