
<div class="container">
      Individual Projects
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Member(s)</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        <% individual_projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project)%></td>
          <td><%= project.user.first_name %></td>
          <td><%=formatted_datetime(project.due_date)%></td>
        </tr>
        <% end %>

      </tbody>
    </table>

    Group Projects
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Members</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% group_projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project)%></td>
        <td><%= render partial: "user", collection: project.team.users %></td>
        <td><%=formatted_datetime(project.due_date)%></td>
      </tr>
      <% end %>

    </tbody>
    </table>

      <%= link_to 'Create a new project', new_project_path %><br>


</div>
