<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

Logged in as <strong><%= current_user.email %></strong>.

<br><br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- end modal -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      INDIVIDUAL PROJECTS
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Collabortors</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr>
            <th scope="row">1</th>
            <td><%=project.name%></td>
            <td><%=project.description%></td>
            <td>me</td>
            <td><%= link_to project.name, project_path(project) %></td>
          </tr>
          <% end %>

        </tbody>
      </table>

      <%= link_to 'Create new individual project', new_project_path %>
    </div>
    <div class="col-sm">

      Here are your teams.
      <%= render partial: "teams/team", collection: current_user.teams %>


        <br>
      <%= link_to "Create a new team", new_team_path %>
      <br><br>
      GROUP PROJECTS
      ---- à faire ---

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Team</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.teams.each do |team| %>

          <% team.projects.each do |project| %>
          <tr>
            <th scope="row">1</th>
            <td><%=project.name%></td>
            <td><%=project.description%></td>
            <td><%=project.team.name%></td>
            <td><%= link_to project.name, project_path(project) %></td>
          </tr>
          <% end %>
          <% end %>

        </tbody>
      </table>
    </div>

  </div>
</div>
