<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

Logged in as <strong><%= current_user.email %></strong>.

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Description</th>
      <th scope="col">Collabortors</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <%= @projects.each do |project| %>
    <tr>
      <th scope="row">1</th>
      <td><%=project.name%></td>
      <td><%=project.description%></td>
      <td>me</td>
      <td><%= link_to project.name, project_path(project) %></td>
    </tr>
    <% end %>

  </tbody>
</table>


<%= link_to 'Create new project', new_project_path %>
