<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

Logged in as <strong><%= current_user.email %></strong>.

<br><br>

<%= render "search_modal" %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      INDIVIDUAL PROJECTS
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Collabortors</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr>
            <th scope="row">1</th>
            <td><%=project.name%></td>
            <td><%=project.description%></td>
            <td>me</td>
            <td><%= link_to project.name, project_path(project) %></td>
          </tr>
          <% end %>

        </tbody>
      </table>

      <%= link_to 'Create a new project', new_project_path %>
    </div>
    <div class="col-sm">

      Here are your teams.
      <%= render partial: "teams/team", collection: current_user.teams %>


        <br>
      <%= link_to "Create a new team", new_team_path %>
      <br><br>
      GROUP PROJECTS
      ---- à faire ---

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Team</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.teams.each do |team| %>

          <% team.projects.each do |project| %>
          <tr>
            <th scope="row">1</th>
            <td><%=project.name%></td>
            <td><%=project.description%></td>
            <td><%=project.team.name%></td>
            <td><%= link_to project.name, project_path(project) %></td>
          </tr>
          <% end %>
          <% end %>

        </tbody>
      </table>
    </div>

  </div>
</div>
