<table class="table table-hover tasks_table">
  <tr>
    NOT RENDERING A FORM WITH ID: NEW_TAKS
    <%= form_for [project,  project.tasks.build], :html => { :id => 'new_task'} do |f| %>
    <%= f.text_field :name, placeholder:"New Task" %>
    <%= f.hidden_field :project_id, value: project.id %>
    <%= f.submit %>
    <% end %>

  </tr>
  <tbody>
    <% tasks.each do |task| %>
    <% if task.persisted? %>
      <tr id="row-<%=task.id%>">
        <td><a href="http://localhost:3000/projects/<%=task.project.id%>/tasks/<%=task.id%>" data-task="<%=task.id%>" class="task-link"><%=task.name%></a>
        <td><%= form_for([task.project, task], html: {class: 'complete_task'}) do |f| %>
          <%= f.hidden_field :name, value: task.name %>
          <%= f.hidden_field :description, value: task.description %>
          <%= f.hidden_field :project_id, value: task.project.id %>
          <%= f.hidden_field :due_date, value: task.due_date %>
          <%= f.hidden_field :complete, value: true %>
          <%= f.submit 'Complete' %>
          <%end %>
        </td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>
