<div class="container formatted_show">
    <h3 class="text-center"><%= @project.name %> </h3>
  <div class="row">
    <div class="col description_box">
    <text_area>  Project Description: <%= @project.description %></text_area>
    </div>
    <div class="col">
      People working on this project:  <%= @project.team ? @project.team.name : "Just me." %><br>
      <%= formatted_datetime(@project.due_date) %><br>
      <div class="right_bottom_link">
        <% if @project.team %>
          <%= link_to 'Edit Project', edit_team_project_path(@project.team, @project) %><br>
        <% else %>
          <%= link_to 'Edit Project', edit_project_path(@project) %><br>
        <% end %>

        <%= link_to "Delete", @project, method: :delete, data: {confirm: "Are you sure? This action cannot be undone."} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col tasks_display_box task-box">
            <%= link_to 'Create new task', new_project_task_path(@project) %>
      <%= render partial: "project_tasks_index", locals: {tasks: @project.tasks} %>

    </div>
  </div>
</div>

<script id="task-show-template" type="text/x-handlebars-template">
  <div class="container">
    <div class="row">
       <div class="col formatted_show">
         <h3 class="text-center">{{name}} </h3>
         <a href="#" class="previous-task" data-project="{{project_id}}">Previous Task | </a>
         <a href="#" class="next-task" data-project="{{project_id}}">Next Task</a>

         <div class="row">
           <div class="col-8 col-sm-6 description_box">
             {{description}}
           </div>
           <div class="col-8 col-sm-6">
              Due: {{due_date}}<br>
              Create a checklist<br>
              Add attachment <br>
              Have a "complete task" button <br>
              <div class="right_bottom_link">
                <a href="/projects/{{project_id}}/tasks/{{id}}/edit">Edit Task</a>
                <a href="/projects/{{project_id}}/tasks/{{id}}">Delete Task Task</a>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</script>
